/*
.timeline .contents { display:none; }
.timeline .expanded .preview { display:none; }
.timeline .expanded .contents { display:block; }

.timeline .hover-block, .timeline .hover-inline { display:none; }
.timeline li:hover .hover-inline { display:inline !important; }
.timeline li:hover .hover-block { display:block !important; }
.timeline .actions button { border:0; background:none; text-decoration:underline; margin:0; padding:0; color:blue; }

.timeline .image-inline a.image-expand { margin:0 5px; }
.timeline .image-inline img { display:none; }
.timeline .image-inline.shown a.image-expand { }
.timeline .image-inline.shown img { display:block; }

.timeline .youtube-inline a.youtube-expand { margin:0 5px; }
.timeline .youtube-inline iframe { display:none; }
.timeline .youtube-inline.shown a.youtube-expand { }
.timeline .youtube-inline.shown iframe { display:block; }
*/

.contents-collapse { display:none; }
.expanded .preview-expand { display:none; }
.expanded .contents-collapse { display:block; }


.site-main-container { margin-top:30px; }