.availability { color:green; }
.unavailable { color:red !important; }

.password-strength { width:200px; }
.password-strength .gauge { height:2px; }
.password-strength.weak .gauge { width:40%; background:#FF0000; }
.password-strength.medium .gauge { width:60%; background:#AA7700; }
.password-strength.strong .gauge { width:80%; background:#00AA00; }
.password-strength.very-strong .gauge { width:100%; background:#00DD00; }
.password-strength.weak .descr { color:#FF0000; }
.password-strength.medium .descr { color:#AA7700; }
.password-strength.strong .descr { color:#00AA00; }
.password-strength.very-strong .descr { color:#00DD00; }