/*
.timeline .contents { display:none; }
.timeline .expanded .preview { display:none; }
.timeline .expanded .contents { display:block; }

.timeline .hover-block, .timeline .hover-inline { display:none; }
.timeline li:hover .hover-inline { display:inline !important; }
.timeline li:hover .hover-block { display:block !important; }
.timeline .actions button { border:0; background:none; text-decoration:underline; margin:0; padding:0; color:blue; }

.timeline .image-inline a.image-expand { margin:0 5px; }
.timeline .image-inline img { display:none; }
.timeline .image-inline.shown a.image-expand { }
.timeline .image-inline.shown img { display:block; }

.timeline .youtube-inline a.youtube-expand { margin:0 5px; }
.timeline .youtube-inline iframe { display:none; }
.timeline .youtube-inline.shown a.youtube-expand { }
.timeline .youtube-inline.shown iframe { display:block; }
*/

.contents-collapse { display:none; }
.expanded .preview-expand { display:none; }
.expanded .contents-collapse { display:block; }


.site-main-container { margin-top:30px; }

.site-footer { box-shadow:0 2px 5px #999; -moz-box-shadow:0 2px 5px #999; -webkit-box-shadow:0 2px 5px #999; position:fixed; bottom:0; right:0; /*width:100%; */background:#fff; color:#444; font-size:.75em; padding:8px 10px; line-height:1.2; }
.site-footer .get-dotmesh { color:#0147b0; font-weight:bold; }
.site-footer a { color:#666; }
.site-footer .pipe { padding:0 7px; color:#aaa; font-size:.75em; }


.timeline .actions-group-3 { float:right; }